@import '~antd/dist/antd.css';
*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
body{
    background-color: #eee;
}
/*header*/
.hometop{
    height:30px;
    background-color: rgb(248, 240, 240);
    padding-top: 3px;
}
.headlink{
    margin-right: 20px;
    color: rgb(49, 179, 49);
}
.headerwrap{
    height: 50px;
    background-color:black ;
}
.headerwrap header{
    width:1200px;
    margin:0 auto;
}
.headerwrap img{
    width: 120px;
    margin-top: 10px;
}
.headerwrap a{
    margin: 0 20px;
    color: rgb(210, 218, 224);
}
.headerwrap a:hover{
    color: #fff;
}
/*main*/
.main{
    width: 1200px;
    margin: 30px auto;
}
.content{
    width:900px;
    height: 1730px;
    overflow:hidden;
    float: left;
    background-color: white;
    position: relative;
}
.sider{
    width: 270px;
    float: right;
    height: 1800px;
}
.git{
    width: 270px;
    height: 110px;
    background-color: #fff;
    padding: 15px 15px;
}
.git a{
    color: rgb(180, 180, 153);
}
.git button{
    width: 150px;
    height: 35px;
    background-color:rgb(160, 213, 235);
    color:#fff;
    border-radius: 4px;
}
.im{
    width: 270px;
    height: 210;
    background-color: #fff;
    padding: 10px 10px;
    margin: 15px auto;
}
.im img{
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
}
.topic{
    width: 270px;
    height: 220px;
    background-color: #fff;
    margin: 15px auto;
}
.sider .tit{
    width: 270px;
    height: 40px;
    background-color: #eee;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.a a{
    width: 260px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    color: gray;
    margin-left: 10px;
}
.cred{
    width: 270px;
    height: 360px;
    background-color: #fff;
    margin: 15px auto;
}
.friend{
    width: 270px;
    height: 250px;
    background-color: #fff;
    margin: 15px auto;
}
.friend img{
    width: 160px;
    height: 40px;
    margin: 5px 0;
} 
.ma{
    width: 270px;
    height: 330px;
    background-color: #fff;
    margin: 15px auto;
}
.ma img{
    width: 200px;
    height: 200px;
    margin:20px 30px;
}
.ma a{
    display: block;
    margin-left: 70px;
}
.bottom{
    width: 100%;
    height: 200px;
    background-color: #fff;
    float: left;
}
.bot{
    width: 1200px;
    height: 200px;
    margin:0 auto;
    padding-top: 30px;
}
.bot .rss{
    color:black;
    margin-bottom: 10px;
    display: block;
}
.bot p{
    line-height: 18px;
    color:grey;
}
.bot img{
    height:30px;
    width: auto;

}
.digitalocean{
    color: rgb(54, 163, 163);
}
.botbox{
    text-align: center;
    display:inline;
    position:absolute;
    top:1660px;
    left:200px;
}
.botbox li{
    border:1px solid black;
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 7px;
}
.botbox li:hover{
    background-color: rgba(127, 116, 158, 0.247);
}
.lgi{
    border: 2px solid rgb(156, 119, 119);
    background-color: rgb(151, 137, 137);
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 24px;
    color: beige;
    padding: 30px 40px;
}
.lgi .txt{
    width: 250px;
    margin-bottom: 20px;
}
.lgi .pwd{
    width: 250px;
    margin-left: 24px;
    margin-bottom: 20px;
}
.lgi button{
    display: block;
    text-align: center;
    margin-left: 130px;
    width: 150px;
    background-color: rgba(32, 65, 173, 0.863);
    border-radius:8px ;
    color: white;
}